h1{
    color:rgb(218, 33, 33);
    position: absolute;
}
.back{
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .back{
    background-color: #0056b3;
  }