<app-header></app-header>
<div class="container flight-cards" *ngIf="flights; else err">
    <div class="headers">
      <h2 class="title">Avilable Flights</h2>
    </div>
    <div class="card-container">
      <div class="card" *ngFor="let flight of flights">
        <div class="card-header">
          <h3>{{ flight['flightName'] }}</h3>
          <div class="card-actions">
            <button class="edit" (click)="openForm(flight)">Book this Flight</button>
          </div>
        </div>
        <div class="card-body">
          <p>Flight ID: {{ flight['flightId'] }}</p>
          <p>Avilable Seats: {{ flight['capacity'] }}</p>
          <p>Date: {{ flight['date'] }}</p>
          <p>Flight Class: {{ flight['flightClass'] }}</p>
          <p>Timing: {{ flight['timing'] }}</p>
          <p>From: {{ flight.route.source }}</p>
          <p>Destination: {{ flight.route.destination }}</p>

        </div>
      </div>
    </div>
  </div>
  <ng-template #err>
    <div class="error-message">
      <p>Error occurred while fetching flights.</p>
    </div>
  </ng-template>


  <div class="form-wraper" *ngIf="showForm">
    <div class="flight-form">
        <h2 class="text-center text-info">Enter No of seats to Book</h2>
        <div class="group">
            <label for="">Seats:</label>
            <input type="number" class="form-control"[(ngModel)]="seatsRequired" name="seatsreq" min="1" required>
        </div>
        <div class="group">
            <label for="">Flight Id:</label>
            <input type="number" class="form-control"[(ngModel)]="flightId" name="fliId" min="1" readonly required>
        </div>
        <div class="action">
            <button class="save-button" (click)="saveBooking()">Book</button>
            <button class="cancel-button"(click)="closeForm()">Cancel</button>
        </div>
    </div>
</div>

