ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center; /* Center items vertically */
    gap: 10px;
    background-color: #b026da;
    height: 60px;
    border-radius: 2px;
    padding: 0 20px; /* Add padding for spacing */
    /* margin-bottom: 60px; */
}

ul li {
    list-style: none;
    font-size: 20px; /* Reduce font size for consistency */
    margin-left:10px;
}

ul li a {
    text-decoration: none;
    color: white;
}

ul li a:hover {
    color: rgb(249, 156, 181);
}

ul li .logout {
    background-color: rgb(98, 224, 192);
    color: rgb(226, 55, 101);
    border-radius: 10px;
    padding: 8px 12px; /* Add padding to the logout button */
    margin-left: 10px;
}

.logo {
    position: absolute; /* Position the logo absolutely */
    top: 10px; /* Adjust top positioning */
    left: 10px; /* Adjust left positioning */
    height: 48px;
    width: 60px;
    z-index: 1; /* Ensure the logo appears above other content */
}

.active{
    /* background-color: rgb(46, 147, 15); */
    border-radius: 3px;
    padding:3px 3px;
}

ul li button.btn-success:hover {
    background-color: rgb(255, 37, 37);
}

ul li img{
    float: left;
}
